<div class="pocket">
    <div class="item">
        <p class="bg-title">10</p>
        <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
        </span>

        <p>Puntos</p>
    </div>
    <div class="item" [routerLink]="['/Home/Pills']">
        <img src="assets/img/pill-pack.jpg" class="cover" alt="medicamentos" >
        <p>Medicamentos</p>
    </div>
    <div class="item">
        <img class="cover" src="assets/img/alarm.png" alt="recordatorios" />
        <p>Recordatorios</p>
    </div>
</div>