<div class="body">
    <header>
        <h1>AgeTech</h1>
    </header>

    <main>
        <nav class="menu-bar">
            <a class="arrowblock" id="configurationBtn"><i class="fas fa-user-cog"></i> Configuración</a>
            <a class="arrowblock" id="notificationBtn"><i class="fas fa-bell"></i> Notificaciones</a>
            <a class="arrowblock" id="helpBtn"><i class="fas fa-question-circle"></i> Ayuda</a>
        </nav>

        <div class="main-menu">
            <a class="menu-option">
                <!-- Insert an image here -->
            </a>
        </div>
    </main>
</div>