<!-- <div class="background-pattern"></div> -->

<div class="body">
<header>
    <h1>AgeTech</h1>
    <p>Tienes una racha de: </p>
</header>

<main>
    <aside>
        <div class="option">
            <a id="configurationBtn"><i class="fas fa-user-cog"></i> Configuración</a>
            <a id="notificationBtn"><i class="fas fa-bell"></i> Notificaciones</a>
            <a id="helpBtn"><i class="fas fa-question-circle"></i> Ayuda</a>
        </div>
        <div class= "logo"></div>
    </aside>

    <div class="main-menu">
        <a class="menu-option">
            <!-- Insert an image here -->
        </a>
    </div>
</main>
</div>