<div class="body">
    <header>
        <h1>AgeTech</h1>
    </header>

    <main>
        <nav class="menu-bar">
            <a routerLink="./Init" class="arrowblock" id="notificationBtn"><i class="fas fa-house-user"></i> Inicio</a>
            <a routerLink="./Setting" class="arrowblock" id="configurationBtn"><i class="fas fa-user-cog"></i> Configuración</a>
            
            <a routerLink="./Help" class="arrowblock" id="helpBtn"><i class="fas fa-question-circle"></i> Ayuda</a>
        </nav>

        <div class="main-menu">
            <a class="menu-option">
                <!-- Insert an image here -->
            </a>
            <router-outlet></router-outlet>
        </div>
        
    </main>
</div>